.NewProducts {
    text-align: center;
    overflow: hidden;
    margin-top: 50px;
}

.NewProducts > .border-animation {
    width: 55%;
}


h2 {
    font-size: 60px;
    margin: 0 auto ;
    color: var(--color-btn);
    padding: 10px;
}


.NewProducts_top {
    width: 20%;
    margin: 0 auto;
}

.NewProducts_img {
    width: 20%;
    margin: 0 auto;
}

.NewProducts_bottom {
    position: relative;
    cursor: pointer;
    margin-top: 50px;
}

.NewProducts_row {
    flex-wrap: unset;
    overflow: hidden;
    text-align:center;
}
.NewProducts .NewProducts_prev  {
    position: unset;
    transform: unset;
    width: 8%;
    margin: 20px auto 0;
    
}
.prev-green {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.prev-green div {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid var(--color-primery);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primery);
    position: relative;
    z-index: 3;
    overflow: hidden;
}
.prev-green div {
    transition: 0.5s;
}
.prev-green div:hover {
    transform: scale(0.95);
}
.prev-green div:hover::after {
    height: 250%;

}

.prev-green div:hover i {
    color: #fff;
    z-index: 3;
}

.prev-green div i {
    transition: 0.5s;
}

.prev-green div::after {
    content: "";
    position: absolute;
    background-color: var(--color-primery);
    width: 150%;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%) rotate(-25deg);
    transition: 1s;
    z-index: -1;
}



.border-animation {
    position: relative;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.border-top {
    position: absolute;
    top: 0;
    right:0 ;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right , #f17338,#fcc23f);
    animation: animate-boder-top 2s linear infinite;
}

.border-right {
    position: absolute;
    top: 0;
    right:0 ;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom , #f17338,#fcc23f);
    animation: animate-boder-right 2s linear infinite;
    animation-delay: 1s;

}

.border-bottom {
    position: absolute;
    bottom: 0;
    right:0 ;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left , #f17338,#fcc23f);
    animation: animate-boder-bottom 2s  linear infinite;
}

.border-left {
    position: absolute;
    top: 0;
    left: 0 ;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top , #f17338,#fcc23f);
    animation: animate-boder-left 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate-boder-top {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}
@keyframes animate-boder-right {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}
@keyframes animate-boder-bottom {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes animate-boder-left {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
}



@media (max-width:1023px) {
    .NewProducts > .border-animation {
        width: 50%;
    }
    .NewProducts > .border-animation h2 {
        font-size: 40px;
    }
}
@media (max-width:768px) {
    .NewProducts_bottom .prev-green {
        width: 15%;
    }
    .NewProducts_bottom  .swiper {
        position: unset;
        margin: 20px auto 0;
        transform: unset;
    }
    .NewProducts_bottom  .swiper span {
        margin-right: 10px;
    }
    .NewProducts_col {
        width: 33.3333%;
    }
    .NewProducts > .border-animation {
        width: 65%;
    }
    
}
@media (max-width:390px) {
    .NewProducts > .border-animation {
        width: 95%;
    }
    .NewProducts > .border-animation h2 {
        font-size: 30px;
    }
    .NewProducts_col {
        width: 100%;
    } 
    .ListProduct_question {
        width: 60%;
    }
    .NewProducts_bottom .prev-green {
        width: 30%;
    }
    
}