.baner {
    margin: 20px auto 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.banner-item:last-child {
    margin-top: 20px;
}

.banner-2 img,
.banner-3 img,
.banner-1 img {
    height: 100%;
}

.banner-2,
.banner-3,
.banner-1 {
    position: relative;

}

.banner-2::after,
.banner-3::after,
.banner-1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: url(../../img/animation-img.jpg);
    animation: moveright 300s linear infinite;
}

.banner-2::before,
.banner-3::before,
.banner-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: url(../../img/animation-img.jpg);
    transform: scaleY(-1);
    animation: moveleft 300s linear infinite;

}

.banner-2 {
    display: none;
}

.banner-3 {
    display: none;
}

.thumb-banner {
    position: absolute;
    width: 45%;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-family: Cormorant Garamond, serif;
}

.thumb-banner h3 {
    font-size: 30px;
    font-weight: 700;
    color: #181818;
}

.thumb-banner h1 {
    font-size: 60px;
    font-weight: 400;
    color: #fff;
    margin: 20px 0;
}

.thumb-banner p {
    font-size: 18px;
}

.thumb-banner h5 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
    line-height: 1.5;
    color: #424242;

}

.thumb-banner button {
    padding: 15px;
    outline: none;
    border: none;
    width: 30%;
    font-size: 16px;
    font-weight: 700;
    transition: 0.5s;
    position: relative;
    display: inline-block;
    border-radius: 30px;
    background-color: var(--color-btn);
    color: #fff;
    overflow: hidden;
    z-index: 3;
}

.thumb-banner button:hover::after {
    height: 270%;

}

.thumb-banner button::after {
    content: "";
    position: absolute;
    background-color: var(--color-primery);
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%) rotate(-25deg);
    transition: 0.5s;
    z-index: -1;
}


.navbar>.container-fluid {
    padding: 0;
}


.banner-item {
    position: relative;
    padding: 0;
}

.banner-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000060;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.banner-item:hover::after {
    opacity: 1;
    visibility: visible;
}

.prev {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev div {
    width: 40px;
    height: 40px;
    background-color: var(--color-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.prev div:hover::after {
    height: 250%;
}

.prev div::after {
    content: "";
    position: absolute;
    background-color: var(--color-primery);
    width: 150%;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%) rotate(-25deg);
    transition: 1s;
    z-index: -1;
}

.swiper {
    position: absolute;
    width: 10%;
    height: 20px;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: space-between;
    align-items: center;
}
.swiper span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    padding: 5px;
    border: 1px solid #000;
}
.swiper span:nth-child(1) {
    background-color: var(--color-primery);
}
.swiper span:nth-child(2) {
    background-color: var(--color-btn);
}
.swiper span:nth-child(3) {
    background-color: var(--color-btn);
    
}

@media (min-width:1024px) {
    .modal.show .modal-dialog {
        height: 100%;
    }
}

@media (max-width:1024px) {
    .thumb-banner {
        width: 35%;
        left: 35%;
    }

    .thumb-banner h3 {
        font-size: 22px;
    }

    .thumb-banner h1 {
        font-size: 45px;
    }

    .thumb-banner button {
        width: 40%;
    }
     .modal.show .modal-dialog {
        height: 100%;
    }
    
}

@media (max-width:768px) {
    .swiper {
        display: flex;
    }
    .modal.show .modal-dialog {
        height: 50%;
    }
    .modal-dialog {
        max-width: none;
    }
    .prev {
        display: none;
    }

    .thumb-banner {
        width: 50%;
    }

    .thumb-banner h3 {
        font-size: 14px;
    }

    .thumb-banner h1 {
        font-size: 30px;
    }

    .thumb-banner button {
        width: 25%;
        font-size: 12px;
    }

    .banner-2::before,
    .banner-3::before,
    .banner-1::before {
        top: -10px;
        height: 50px;
    }

    .banner-2::after,
    .banner-3::after,
    .banner-1::after {
        bottom: -16px;
        height: 55px;
    }
}

@media (max-width:390px) {
    .banner-2,
    .banner-3,
    .banner-1{
        height: 400px;
    }
    .thumb-banner h3 {
        font-size: 10px;
    }
    .thumb-banner h1 {
        font-size: 24px;
    }
    .thumb-banner button {
        width: 50%;
    }
    .swiper {

        width: 20%;
        bottom: 10%;
}
}

@keyframes moveleft {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -30000px 0;


    }
}

@keyframes moveright {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 30000px 0;


    }
}